
/**
 * Home Page Style Documentation
 */
@import url("https://fonts.googleapis.com/css?family=Avenir");

/**
 * Desktop
 */
@media screen and (max-width: 1440px) {
    .owl-theme .owl-nav.disabled+.owl-dots {
        top: 88% !important;
    }

    .rL-margin {
        margin-right: 70px !important;
        margin-left: 70px !important;
    }

    .flex-card {
        grid-column-gap: 32px !important;
    }

    .flex-card-star {
        padding-top: 10px !important;
        grid-column-gap: 0 !important;
    }

    .rL-slider {
        margin-right: 70px !important;
        margin-left: 70px !important;
    }

    .arrowWidth {
        width: 70px !important;
    }

    .lastViewed,
    .newArrivals {
        padding-right: 170px !important;
        padding-left: 170px !important;
    }

    .txt-description {
        font-size: 1.4rem !important;
        line-height: 1.3 !important;
    }

    .product-size1 {
        width: 70% !important;
    }

    .product-size2 {
        width: 56% !important;
    }

    .rL-air-iphone {
        margin: 0 150px 0 160px !important;
    }

    .grid-new-arrivals {
        margin-right: 170px !important;
        margin-left: 170px !important;
    }

    .gridWidth {
        max-width: calc(100% - 100px) !important;
    }

    .flex-card-review {
        grid-column-gap: 15px !important;
    }

    .txt-shipping-small {
        max-width: 80% !important;
    }

    .footer-padding {
        padding-right: 80px !important;
        padding-left: 150px !important;
    }

    .red-line1 {
        width: 22vw !important;
    }

    .red-line-collections {
        width: 9vw !important;
    }

    .red-line-company {
        width: 8vw !important;
    }

    .red-line-touch {
        width: 12vw !important;
    }

    .red-line-stranger {
        width: 16vw !important;
    }

    .icon-width1 {
        width: 23% !important;
    }

    .icon-width2 {
        width: 35% !important;
    }

    .icon-width3 {
        width: 42% !important;
    }

    .product-padding1 {
        padding: 0 7% 20px !important;
    }
}

/**
 * Large Laptop
 */
@media screen and (max-width: 1200px) {
    .owl-theme .owl-nav.disabled+.owl-dots {
        top: 86% !important;
        left: 38% !important;
    }

    .rL-margin {
        margin-right: 30px !important;
        margin-left: 30px !important;
    }

    .txt20 {
        font-size: 1.2rem !important;
    }

    .rL-slider {
        margin-right: 30px !important;
        margin-left: 30px !important;
    }

    .flex-card {
        grid-template-columns: 1fr 1fr !important;
        grid-column-gap: 80px !important;
    }

    .flex-card-star {
        grid-template-columns: 1fr 1fr !important;
    }

    .arrowWidth {
        width: 100px !important;
    }

    .card-bg-slider {
        margin-bottom: 40px !important;
    }

    .product-size1 {
        width: 50% !important;
    }

    .product-size2 {
        width: 40% !important;
    }

    .lastViewed, .newArrivals {
        padding-right: 130px !important;
        padding-left: 130px !important;
    }

    .rL-air-iphone {
        margin: 0 100px 0 120px !important;
    }

    .grid-new-arrivals {
        margin-right: 130px !important;
        margin-left: 130px !important;
    }

    .card-review-slider {
        padding: 15px !important;
    }

    .txt-left-width {
        width: 100% !important;
    }

    .imgWidth {
        width: 100% !important;
        max-width: 100% !important;
    }

    .imgTxtWidth {
         width: 100% !important;
    }

    .useful-sony-img {
        padding-bottom: 5px !important;
        max-width: 60% !important;
        max-height: 60% !important;
        min-width: 120px !important;
        min-height: 200px !important;
    }

    .sonyTitleTxt {
        font-size: 1.1rem !important;
    }

    .sonyDescTxt {
        padding-top: 0 !important;
        font-size: 1.05rem !important;
    }

    .sonyMoreTxt,
    .sonyDateTxt {
        font-size: 1.3rem !important;
    }

    .red-line1 {
        width: 26vw !important;
    }

    .red-line-collections {
        width: 11vw !important;
    }

    .red-line-company {
        width: 10vw !important;
    }

    .red-line-touch {
        width: 14vw !important;
    }

    .red-line-stranger {
        width: 19vw !important;
    }

    .input-filed {
        max-width: 40vw !important;
    }

    .footer-padding {
        padding-right: 60px !important;
        padding-left: 60px !important;
    }

    .card-tips-slider {
        padding: 5px !important;
    }

    .rL-float {
        margin-top: 15px !important;
    }
}

/**
 * Lap Desktop
 */
@media screen and (max-width: 992px) {
    .owl-theme .owl-nav.disabled+.owl-dots {
        top: 85% !important;
        left: 36% !important;
    }

    .menubar-icon {
        display: block !important;
    }

    .lapDesktop-hidden {
        display: none !important;
    }

    .product-size1 {
        width: 60% !important;
    }

    .product-size2 {
        width: 50% !important;
    }

    .flex-card-shop {
        grid-column-gap: 15px !important;
    }

    .card-shop {
        margin-bottom: 15px !important;
    }

    .threeImg {
        margin: 0 auto !important;
        max-width: 100% !important;
        text-align: center !important;
    }

    .txt-gray-font {
        font-size: 1.1rem !important;
    }

    .title-left {
        font-size: 1.6rem !important;
    }

    .red-line1 {
        width: 35vw !important;
    }

    .icon-width1 {
        width: 100% !important;
    }

    .icon-width2 {
        width: 100% !important;
    }

    .icon-width3 {
        width: 100% !important;
    }

    .red-line-collections {
        width: 14vw !important;
    }

    .red-line-company {
        width: 13vw !important;
    }

    .red-line-touch {
        width: 18vw !important;
    }

    .red-line-stranger {
        width: 23vw !important;
    }

    .secure-right {
        padding-right: 20px !important;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .product {
        max-width: 90% !important;
    }

    .iphone-size {
        padding: 20px !important;
    }
}

/**
 * Lap Tablet
 */
@media screen and (max-width: 768px) {
    .owl-theme .owl-nav.disabled+.owl-dots {
        top: 80% !important;
        left: 30% !important;
    }

    .icon-size1 {
        margin-top: 15px !important;
        margin-left: 15px !important;
        width: 40px !important;
        height: 40px !important;
        font-size: 0.9rem !important;
    }

    .icon-size2 {
        margin-top: 20px !important;
        margin-right: 15px !important;
        border-radius: 7px !important;
        width: 60px !important;
        height: 25px !important;
        font-size: 1rem !important;
    }

    .flex-card {
        grid-column-gap: 20px !important;
    }

    .productList-option {
        width: 200px !important;
    }


    .lastViewed, .newArrivals {
        padding: 40px 110px !important;
    }

    .rL-air-iphone {
        margin: 0 20px !important;
        min-width: 250px !important;
    }

    .icon-art-left {
        padding-left: 30px !important;
    }

    .grid-new-arrivals {
        margin-right: 100px !important;
        margin-left: 100px !important;
    }

    .flex-card-review {
        grid-template-columns: 1fr !important;
    }

    .flex-card-tips {
        grid-column-gap: 20px !important;
    }

    .imgTxtWidth {
        padding-left: 0 !important;
    }

    .input-filed {
        max-width: 55vw !important;
    }

    .red-line1 {
        width: 42vw !important;
    }

    .collections-width,
    .company-width,
    .touch-width,
    .stranger-width {
        width: 50% !important;
    }

    .red-line-collections {
        width: 18vw !important;
    }

    .card-lastViewed {
        margin: 5px 15px 10px !important;
    }

    .red-line-company {
        width: 17vw !important;
    }

    .red-line-touch {
        width: 22vw !important;
    }

    .red-line-stranger {
        width: 32vw !important;
    }

    .left-padding {
        padding-left: 10% !important;
    }

    .txt-font-color4 {
        font-size: 1.5rem !important;
    }

    .item-padding {
        padding-bottom: 10px !important;
    }

    .collections-bottom {
        padding-top: 20px !important;
    }

    .txt-font-color6 {
        font-size: 1rem !important;
    }

    .payment-icon {
        width: 30px !important;
    }

    .imgTxtWidth {
        padding: 10px !important;
    }

    .secure-right {
        padding-top: 0 !important;
    }
}

/**
 * Phone Tablet
 */
@media screen and (max-width: 600px) {
    /**
     * Common
     */
    .resCol.m1 {width:8.33333%}
    .resCol.m2{width:16.66666%}
    .resCol.m3 {width:24.99999%}
    .resCol.m4 {width:33.33333%}
    .resCol.m5{width:41.66666%}
    .resCol.m6 {width:49.99999%}
    .resCol.m7 {width:58.33333%}
    .resCol.m8 {width:66.66666%}
    .resCol.m9 {width:74.99999%}
    .resCol.m10 {width:83.33333%}
    .resCol.m11 {width:91.66666%}
    .resCol.m12 {width:99.99999%}

    .owl-theme .owl-nav.disabled+.owl-dots {
        top: 80% !important;
        left: 35% !important;
    }

    .phoneMax {
        margin: 7px auto !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    .header-txt {
        height: auto !important;
    }

    .header-txt > .rL-float {
        display: block !important;
    }

    .cases-heart-txt {
        padding-top: 50px !important;
        padding-bottom: 20px !important;
        font-size: 2.2rem !important;
    }

    .middle-txt {
        font-size: 1.2rem !important;
    }

    .flex-card {
        grid-template-columns: 1fr !important;
    }

    .flex-card-star {
        padding-top: 0 !important;
        grid-template-columns: 1fr !important;
    }

    .arrow-size {
        width: 30px !important;
        height: 30px !important;
    }

    /*.gridWidth {*/
    /*    max-width: 100% !important;*/
    /*}*/

    .product {
        max-width: 95% !important;
    }

    .lastViewed, .newArrivals {
        padding: 40px 80px !important;
    }

    .grid-new-arrivals {
        margin-right: 80px !important;
        margin-left: 80px !important;
    }

    .btn-all {
        margin-top: 20px !important;
        max-height: 50px !important;
    }

    .flex-card-shop {
        grid-template-columns: 1fr 1fr !important;
    }

    .flex-card-tips {
        grid-template-columns: 1fr !important;
    }

    .input-filed {
        max-width: 75vw !important;
        min-width: 280px !important;
    }

    .red-line1 {
        width: 55vw !important;
        min-width: 280px !important;
    }

    .left-padding {
        padding-left: 5% !important;
    }

    .red-line-collections {
        width: 22vw !important;
    }

    .red-line-company {
        width: 20vw !important;
    }

    .red-line-touch {
        width: 26vw !important;
    }

    .red-line-stranger {
        width: 40vw !important;
    }


    .arrowWidth {
        width: 50px !important;
    }

    .paymentLink,
    .txt-font-color6 {
        width: 100% !important;
    }

    .payment-flex {
        display: unset !important;
    }

    .phone-hidden {
        display: none !important;
    }

    .phone-shown {
        display: block !important;
        padding: 20px 15px 15px !important;

        text-align: center;
    }

    .paymentLink {
        height: 50px !important;
    }

    .rL-slider {
        margin-right: 10px !important;
        margin-left: 10px !important;
    }

    .owl-theme .owl-dots .owl-dot span,
    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        border-radius: 6px !important;
        width: 45px !important;
        height: 6px !important;
    }

    .display-arrow-right {
        right: -60px!important;
    }

    .display-arrow-left {
        left: -60px!important;
    }

    .paddingTB {
        max-width: 90% !important;
    }
}

/**
 * Phone
 */
@media screen and (max-width: 480px) {
    .owl-theme .owl-nav.disabled+.owl-dots {
        top: calc(100% - 30px) !important;
        left: 38% !important;
    }

    .logo-size {
        margin: 0 auto;
        width: 100% !important;
        max-width: 100% !important;
        text-align: center !important;
    }
    .rL-margin {
        margin-right: 15px !important;
        margin-left: 15px !important;
    }

    .phoneTablet-mobile {
        display: none !important;
    }

    .dropdown-menu {
        margin: 2px -170px !important;
    }

    .rectangle-trans-mobile {
        float: right !important;
    }

    .title-top {
        height: auto !important;
        font-size: 1.2rem !important;
    }

    .lastViewed, .newArrivals {
        padding: 40px 30px !important;
    }

    .grid-new-arrivals {
        margin-right: 20px !important;
        margin-left: 20px !important;
        min-width: 250px !important;
    }

    .left-padding {
        padding-left: 0 !important;
    }

    .rL-slider {
        margin-right: 15px !important;
        margin-left: 15px !important;
    }

    .btn-all {
        max-width: 100% !important;
        border-radius: unset !important;

        color: #ffffff !important;
        background-color: #ED365C !important;
    }

    .btn-all:hover {
        color: #ED365C !important;
        background-color: #ffffff !important;
    }

    .txt-gray-font {
        font-size: 0.9rem !important;
    }

    .gridWidth {
        max-width: calc(100% - 60px) !important;
        min-width: 230px !important;
    }

    .arrowWidth {
        width: 40px !important;
    }

    .hover-circle-left,
    .hover-circle-right {
        width: 30px !important;
        height: 30px !important;
    }

    .sonyDateTxt {
        font-size: 1.3rem !important;
    }

    .input-filed > input {
        height: 40px !important;
    }

    .btn-subscribe {
        margin: 2px !important;
    }

    .footer-padding {
        margin: 0 auto !important;
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    .txt-font-color4 {
        font-size: 1.2rem !important;
    }

    .txt-font-color1 {
        font-size: 1.3rem !important;
    }

    .touch-width,
    .stranger-width,
    .collections-width,
    .company-width {
        margin: 0 auto;
        width: 100% !important;
        max-width: 100% !important;
        text-align: center !important;
    }

    .red-line-collections,
    .red-line-company,
    .red-line-touch,
    .red-line-stranger {
        margin: 0 auto;
        width: 100% !important;
        max-width: 250px !important;
        text-align: center !important;
    }

    .top-padding {
        padding: 30px 0 !important;
    }

    .owl-theme .owl-dots .owl-dot span,
    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        border-radius: 5px !important;
        width: 25px !important;
        height: 6px !important;
    }

    .display-arrow-right {
        right: -35px!important;
    }

    .display-arrow-left {
        left: -35px !important;
    }

    .paddingTB {
        max-width: 100% !important;
        min-width: 260px !important;
    }
}

/**
 * navBar
 */
* {
    box-sizing: border-box;
    font-family: Calibri;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden !important;
    margin: 0 auto;
    color: #4E4E4E;
    background-color: #ffffff;
}

/**
 * common using
 */
.alignC {
    text-align: center;
}

.margin-center-width {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.justify-middle-contents,
.star-width {
    display: flex;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

.flex-container{
    display: flex;
    justify-content: center;
}

.flex-container > div
{
    width: 1920px;
    text-align: center;

}

.mouseCursor {
    cursor: pointer;
}

.shown {
    display: block;
}

.hidden {
    display: none;
}

.alignL {
    float: left !important
}

.alignR {
    float: right !important
}

/**
 * main
 */
.homeHeader {
    max-width: 1920px;
}

.header-txt {
    display: flex;
    height: 32px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #2E3A52;
}

.navBar-height {
    position: relative;
    height: 82px;
}

.rL-margin {
    margin-right: 170px;
    margin-left: 170px;
    min-width: 260px;
}

.rL-float {
    display: flex;
    justify-content: space-between;
}

.menubar-icon {
    display: none;
}

.lapDesktop-hidden,
.phoneTablet-mobile {
    display: block;
}

.dropDownIcon-size {
    margin-left: 5px;
    width: 15px;
}

.item-paddings {
    padding: 10px 20px 10px 40px;
}

.icon-padding {
    padding-right: 20px;
    width: 100%;
    max-width: 38px;
}

.dropdown-menu {
    margin-top: 25px !important;
    padding-left: 20px;
    width: 220px !important;
    box-shadow: 0 0 4px #0006;
}

/**
 * dropDown Btn - 1
 */

.header-btn {
    color: #4E4E4E;
}

.header-btn:hover {
    text-decoration: none;
    color: #ED365C !important;
}

.rectangle-trans {
    margin: -25px 40px 0;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #fff;
    box-shadow: -2px -2px 2px #0006;
    transform: rotate(45deg);
}

.dropdown-toggle::after {
    display: none !important;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dropDown-item {
    margin-bottom: 15px;
    padding-left: 5px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2;
}

.dropDown-item:hover {
    color: #ED365C !important;
}

/**
 * dropDown Btn - 2
 */
.dropdown-menu-mobile {
    width: 170px !important;
    line-height: 1.5;
}

.menu-mobile {
    font-size: 1.2rem !important;
    margin-bottom: 4px !important;
}

.rectangle-trans-mobile {
    margin: -20px 20px 0;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #fff;
    box-shadow: -2px -2px 2px #0006;
    transform: rotate(45deg);
}

hr {
    margin: 0 !important;
}

.txt20 {
    font-size: 1.5rem;
}

.txt20:hover {
    color: #ED365C;
}

.cartStoreBg {
    margin-right: 3px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #f5f6f7;
}

.bagTop {
    margin-top: 10px;
}

.bagBtn {
    position:absolute;
    right:0;
    bottom:0;

    padding: 0 15px;
    border-radius: 8px;

    font-size: 1rem;
    color: #ffffff;
    background-color: #ED365C;
}

.bagBtn:hover {
    /*box-shadow: 0 10px 20px 0 rgba(71, 67, 33, 0.6);*/
    color: black;
    background-color: yellow;
}

.title-top {
    margin: 36px 0 28px;
    border-radius: 10px;
    height: 47px;

    font-size: 1.5rem;
    color: #ffffff;

    background-color: #ED365C;
}

.iPhone-width {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.cases-heart-txt {
    padding-top: 70px;
    padding-bottom: 36px;
    font-size: 2.8rem;
    font-weight: bold;
}

.icon-art-left {
    padding-left: 70px;
}

.middle-txt {
    font-size: 1.5rem;
}

.txt-red {
    font-weight: bold;
    color: #ED365C !important;
}

.txt-red-top {
    padding-top: 26px;
}

/**
 * slide
 */

.arrowWidth {
    width: 100px;
}

.gridWidth {
    max-width: calc(100% - 200px);
}

.hover-circle-left, .hover-circle-right {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.hover-circle-right:hover,
.hover-circle-left:hover {
    border-radius: 50%;
    box-shadow: 0 10px 20px 0 rgba(71, 67, 237, 0.2);
}

.arrow-size {
    width: 50px;
    height: 50px;
}

.rL-slider {
    margin: 0 115px;
    text-align: center;
    min-width: 230px;
}

.flex-card {
    display: grid;
    padding-top: 20px;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 72px;
}

.flex-card-star {
    display: grid;
    padding-top: 20px;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 10px;
}

.card-bg-slider,
.card-lastViewed {
    margin: 20px 20px 32px;

    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: all .25s linear;

    box-shadow: 0 10px 20px 0 rgba(71, 67, 237, 0.2);
}

.card-bg-slider:hover,
.card-lastViewed:hover {
    box-shadow: 0 10px 20px 0 rgba(71, 67, 237, 0.8);
}

.img-item {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;

    /*min-height: 100px;*/
    color: rgba(255,255,255,0.7);

    justify-content: center;
    align-items: center;
}

.product-size1 {
    width: 80% !important;
}

.product-size2 {
    width: 64% !important;
}

.txt-description {
    padding: 10px 20px 20px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.3;
}

.txt-description:hover {
    color: #4f7fff;
}

.txt-star {
    font-size: 1.2rem;
}

.icon-size1 {
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 1rem;
    font-weight: bold;

    color: #ffffff;
    background-color: #ED365C;
    transform: rotate(-30deg);
}

.icon-size1:hover {
    box-shadow: -1px 1px 3px 2px rgba(71, 67, 45, 0.5);
}

.icon-size2,
.icon-size3 {
    margin-top: 25px;
    margin-right: 15px;
    border-radius: 7px;
    width: 70px;
    height: 30px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #ED365C;
    box-shadow: 1px 1px 1px 2px rgba(255, 220, 255, 0.5);
}

.icon-size2:hover,
.icon-size3:hover {
    color: #ffffff;
    background-color: #ED365C;
    box-shadow: 0 0 2px 2px rgba(255, 220, 255, 0.8);
}

.heart-icon-size {
    margin-left: 10px;
    width: 15px !important;
    height: 15px;
}

/**
 * Air Pod and iPhone
 */

.lastViewed {
    padding: 43px 215px;
}

.rL-air-iphone {
    margin: 0 150px 0 215px;
    text-align: center;
}

.product-size3 {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.newArrivals {
    padding: 56px 215px 0;
}

/**
 * Last Arrivals
 */
.grid-new-arrivals {
    margin: 0 215px;
    text-align: center;
}

.grid-card-bottom {
    margin-bottom: 50px;
}

.btn-all {
    margin: 50px auto 0;
    padding: 10px;
    border: 2px solid #ED365C;
    border-radius: 10px;
    width: 100%;
    max-width: 175px;
    height: 100%;
    max-height: 70px;

    font-size: 1.7rem;
    font-weight: bold;

    color: #ED365C;
    cursor: pointer;
}

.btn-all:hover {
    color: #ffffff;
    background-color: #ED365C;
}

/**
 * Shop the Look
 */

.grid-shop {
    margin: 0 auto;
    text-align: center;
}

.flex-card-shop {
    display: grid;
    padding-top: 20px;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 32px;
}

.card-shop {
    margin-bottom: 32px;
    text-align: center;
    cursor: pointer;
    transition: all .25s linear;
}

.card-shop:hover {
    box-shadow: 0 10px 20px 0 rgba(71, 67, 237, 0.8);
}

/**
 * Reviews
 */
.flex-card-review {
    display: grid;
    padding-top: 20px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 32px;
}

.card-review-slider {
    padding: 20px 20px 25px 32px;
    margin: 20px 20px 32px;

    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: all .25s linear;
    box-shadow: 0 10px 20px 0 rgba(71, 67, 237, 0.2);
}

.card-review-slider:hover {
    box-shadow: 0 10px 20px 0 rgba(71, 67, 237, 0.8);
}

.txt-gray-font {
    font-size: 1.5rem;
    font-weight: 400;
}

.title-left {
    padding-top: 20px;
    font-size: 2rem;
    font-weight: 400;
    color: #000000;
}

.txt-left-width {
    padding-bottom: 30px;
    text-align: left;
    width: 80%;
}

.threeImg {
    padding-right: 5px;
    width: 100%;
    max-width: 100%;
}

.paddingCol {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

/**
 * slide check
 */

.check {
    margin: 0;
    border: 1px solid #ED365C;
    border-radius: 8px;
    width:75px;
    height:6px;
    background: #ED365C;
}

.uncheck {
    margin: 0;
    border: 1px solid #eaecec;
    border-radius: 8px;
    width:75px;
    height:6px;
    background: #eaecec;
}

.fast-support {
    padding: 40px 20px 20px;
    margin-top: 40px;
    min-width: 250px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: all .25s linear;
    box-shadow: 0 10px 20px 0 rgba(71, 67, 237, 0.3);
}

.fast-support:hover {
    box-shadow: 0 10px 20px 0 rgba(71, 67, 237, 0.8);
}

.txt-shipping,
.txt-shipping-small {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.txt-shipping {
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: bold;
}

.supportB {
    margin-bottom: 30px;
}

.txt-shipping-small {
    padding-bottom: 20px;
    font-size: 1.1rem;
    max-width: 65%;
}

.txt-width {
    width: 60%;
}

/**
 * Useful Tips
 */
.flex-card-tips {
    display: grid;
    padding-top: 20px;

    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 46px;
}

.card-tips-slider {
    padding: 20px;
    margin: 20px 10px 32px;

    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: all .25s linear;
    box-shadow: 0 10px 20px 0 rgba(71, 67, 237, 0.3);
}

.card-tips-slider:hover {
    box-shadow: 10px 10px 20px 0 rgba(71, 67, 237, 0.8);
}

.imgWidth {
    width: 40% !important;
}

.imgTxtWidth {
    position: relative;
    padding-left: 20px;
    width: 60% !important;
    text-align: left;
}

@media screen and (max-width: 1440px) {
    .imgTxtWidth,
    .imgWidth {
        width: 100% !important;
    }

    .useful-sony-img {
        max-width: 40% !important;
    }

    .product-option {
        min-width: 140px !important;
    }

}

.useful-sony-img {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    min-width: 180px;
    min-height: 330px;
    text-align: center;
}

.sonyTitleTxt {
    padding-bottom: 10px;
    font-size: 1.3rem;
    font-weight: bold;
}

.sonyDescTxt {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.25rem;
}

.sonyMoreTxt {
    padding-top: 5px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #ED365C;
}

.sonyDateTxt {
    position: relative;
    font-size: 1.6rem;
    color: #CCCCCB;
}

.display-BL {
    left:0;
    bottom:0
}

.display-BR {
    position: absolute;
    right: 0;
    bottom: 0;
}

.resRest{overflow:hidden}
.air-input {padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.resRow:after,.resRow:before {content:"";display:table;clear:both;}
.resCol,.resHalf,.resThird,.resTwothird,.resThreequarter,.resQuarter{float:left;width:100%}
.resCol.s1{width:8.33333%}.resCol.s2{width:16.66666%}.resCol.s3{width:24.99999%}.resCol.s4{width:33.33333%}
.resCol.s5{width:41.66666%}.resCol.s6{width:49.99999%}.resCol.s7{width:58.33333%}.resCol.s8{width:66.66666%}
.resCol.s9{width:74.99999%}.resCol.s10{width:83.33333%}.resCol.s11{width:91.66666%}.resCol.s12{width:99.99999%}

/**
 * Footer
 */
.footerBg {
    margin-top: 50px;
    min-width: 300px;
    background-color: #2E3A52;
}

.footer-padding {
    padding: 14px 120px 0 220px;
    min-width: 310px;
}

.red-line1 {
    width: 18vw;
}
.txt-font-color1 {
    border-bottom: 3px solid #ED365C;
    font-size: 1.45rem;
}

.txt-font-color2 {
    padding-left: 30px;
    font-size: 1.2rem;
}

.txt-font-color3 {
    font-size: 0.9rem;
}

.txt-font-color4 {
    font-size: 1.65rem;
}

.txt-font-color5 {
    font-size: 1.1rem;
}

.txt-font-color6 {
    font-size: 1.25rem;
}

.txt-font-color1,
.txt-font-color2,
.txt-font-color4 {
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

.txt-font-color5 {
    color: #aaa9b5;
    cursor: pointer;
}

.txt-font-color5:hover {
    color: #ED365C;
}


.txt-font-color6,
.txt-gray {
    color: #4D555B;
}

.txt-font-color3 {
    color: #ffffff;
}

div .footer-hr {
    border-top: 2px solid #4D555B;
}
.paymentLink {
    height: 84px;
}

.secure-right {
    margin-top: 10px;
    padding-right: 50px;
}

.input-filed {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 25vw;
    text-align: center;
}

.input-filed > input {
    margin: 28px auto 56px;
    padding-left: 10px;
    border-radius: 20px;
    width: 100%;
    max-width: 100%;

    height: 47px;
    font-size: 1rem !important;
    color: #4D555B;
    background-color: #ffffff;

    cursor: pointer;
}

::placeholder {
    font-size: 0.9rem;
}

.btn-subscribe {
    margin: 5px;
    border-radius: 16px;
    width: 120px;
    height: 36px;
    text-align: center;
    cursor: pointer;

    color: #ffffff;
    background-color: #ED365C;
}

.btn-subscribe:hover {
    box-shadow: 0 5px 5px 0 rgba(71, 67, 237, 0.3);
}
.icon-width1,
.icon-width2,
.icon-width3 {
    width: 33%;
}

.img-width {
    margin-top: 10px;
    width: 70px;
}

.img-rest {
    width: calc(100% - 70px);
}

.top-padding {
    padding: 60px 0 75px;
}

.collections-width {
    width: 20%;
}

.company-width {
    width: 20%;
}

.touch-width {
    width: 30%;
}

.stranger-width {
    width: 30%;
}

.red-line-collections {
    width: 7vw;
}

.collections-bottom {
    padding-top: 35px;
}

.item-padding {
    padding-bottom: 20px;
}

.item-padding-small {
    padding-bottom: 7px;
}

.item-top {
    padding-top: 30px;
}

.red-line-company {
    width: 6vw;
}

.red-line-touch {
    width: 8vw;
}

.red-line-stranger {
    width: 13vw;
}

.icon-size {
    height: 17px;
}

.payment-flex {
    display: flex;
    justify-content: space-between;
}

.phone-hidden {
    display: block;
}

.phone-shown {
    display: none;
}



/**
 * Slider Feedback
 */
.owl-theme .owl-dots .owl-dot span,
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    border-radius: 8px;
    width: 75px;
    height: 8px;
}

.owl-theme .owl-dots .owl-dot span {
    background-color: #eaecec;
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color: #ED365C;
}

.owl-dot.active,
.owl-next span,
.owl-prev span {
    outline: none;
}

.owl-dot:focus,
.owl-next:focus,
.owl-prev:focus {
    outline: none;
}

div .owl-next:hover,
div .owl-prev:hover {
    background:none !important;
}

.display-arrow-right,
.display-arrow-left
{
    position:absolute;
    top:44%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%)
}

.display-arrow-right {
    right: -70px;
}

.display-arrow-left {
    left: -70px;
}

.star-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    top: 90%;
    left: 40%;
}

.navbar-nav .nav-link {
    padding-left: 10px;
}














/**
 * Collection Page
 */





/**
 *
 *Collection page
 */

/**
 * airPods documentation
 */

@media screen and ( max-width: 1440px ){
    .textAlignLWidth {
        width: 60% !important;
    }

    .product-grid6 {
        grid-template-columns: 1fr !important;
        grid-auto-rows: auto !important;
    }

    .btn-more {
        margin-left: 25.5% !important;
    }

    .productWidth {
        width: 60% !important;
    }

}

@media screen and ( max-width: 1200px ){
    .air-txt-position {
        top: 20% !important;
        padding-left: 30px !important;
    }

    .flex-airCard-star {
        grid-template-columns: 1fr 1fr 1fr !important;
    }

    .productList-size1 {
        width: 70% !important;
    }

    .productList-size2 {
        width: 56% !important;
    }

    .airProducts-grid {
        max-width: 88% !important;
    }

    .totalWidth {
        max-width: 85% !important;
    }

    .product-grid4 {
        grid-template-columns: 1fr 1fr !important;
    }

    .textAlignLWidth {
        width: 70% !important;
    }

    .btnWidth {
        width: 70% !important;
    }

    .btn-more {
        margin-left: 24.5% !important;
    }

    .largeGedTxt35,
    .numberRed {
        font-size: 1.8rem !important;
    }

    .productWidth {
        width: 70% !important;
    }

    .viewBag-btn, .checkOut-btn {
        max-width: 35% !important;
    }

    .img-btn-padding {
        margin-right: 6% !important;
    }

}

@media screen and ( max-width: 992px ) {
    /**
     * Common
     */
    .resCol.l1{width:8.33333%}
    .resCol.l2{width:16.66666%}
    .resCol.l3{width:24.99999%}
    .resCol.l4{width:33.33333%}
    .resCol.l5{width:41.66666%}
    .resCol.l6{width:49.99999%}
    .resCol.l7{width:58.33333%}
    .resCol.l8{width:66.66666%}
    .resCol.l9{width:74.99999%}
    .resCol.l10{width:83.33333%}
    .resCol.l11{width:91.66666%}
    .resCol.l12{width:99.99999%}

    .air-txt-position {
        top: calc(20% - 20px) !important;
        padding-left: 15px !important;
        width: 350px !important;
    }

    .large-title {
        padding-bottom: 5px !important;
        font-size: 3rem !important;
    }

    .imyCase-bg {
        background-size: 200px !important;
        background-position: top center !important;
    }

    .title-will-txt {
        padding-top: 200px !important;
        width: 100% !important;
        font-size: 1rem !important;

    }

    .imy-padding {
        padding-right: 30px !important;
    }

    .flex-airCard-star {
        grid-column-gap: 0 !important;
    }

    .airProducts-grid {
        max-width: 95% !important;
    }

    .addToCart {
        padding: 10px 15px !important;
    }

    .totalWidth {
        max-width: 100% !important;
    }

    .largeTxt {
        font-size: 1.7rem !important;
    }

    .textAlignLWidth {
        width: 80% !important;
    }

    .btn-more {
         margin-left: 23.5% !important;
     }

    .cardAddingTxt41 {
        padding-left: 20px !important;
        font-size: 2.1rem !important;
    }

    .modalFooterTxt {
        font-size: 1rem !important;
    }
}

@media screen and ( max-width: 768px ){
    .air-txt-position {
        top: 20px !important;
        margin: 0 auto;
        padding-left: 0 !important;
        position: relative !important;
        padding-top: 30px !important;

        width: 100% !important;
        max-width: 80% !important;
    }

    .title-top {
        padding: 5px 15px !important;
        height: auto !important;
    }

    .justify-air-txt {
        text-align: center !important;
    }

    .air-card-bg-slider {
        margin: 10px 10px 10px !important;
    }

    .product-grid1 {
        display: grid;
        padding-top: 10px;

        grid-template-columns: auto !important;

        grid-auto-rows: auto !important;
        grid-column-gap: 5px;
    }

    .product-grid7 {
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
    }

    .img100 {
        min-width: auto !important;
    }

    .btn-more {
        margin: 20px auto !important;
    }

    .cardAddingTxt41 {
        padding-left: 10px !important;
        font-size: 1.6rem !important;
    }

    .largeGedTxt35 {
        font-size: 1.4rem !important;
    }

    .modal-content-adding {
        margin: 20px 4% 0 !important;
    }

    .modal-content-padding {
        margin-left: 4% !important;
    }

    .img-btn-padding {
        padding-top: 80px !important;
        padding-bottom: 30px !important;
    }

    .checkIcon {
        width: 100% !important;
        max-width: 40px !important;
    }

    .viewBag-btn, .checkOut-btn {
        max-width: 45% !important;
        height: 50px !important;
    }

    .justify-content-end {
        justify-content: center !important;
    }
}

@media screen and ( max-width: 600px ){
    .small-bold-txt {
        padding-bottom: 20px !important;
    }

    .flex-airCard-star {
        grid-template-columns: 1fr 1fr !important;
        grid-column-gap: 5px !important;
    }

    .productList-size1 {
        width: 60% !important;
    }

    .productList-size2 {
        width: 48% !important;
    }

    .airProducts-grid {
        max-width: 90% !important;
    }

    .air-card-bg-slider {
        margin: 10px 10px 15px !important;
    }

    .days-shipping {
        display: none !important;
    }

    .days-phoneShown {
        display: block !important;
        margin-left: 0px !important;
        min-width: 290px !important;
    }

    .select-switch {
        margin: 0 auto !important;
        padding: 40px 20px;
        width: 100% !important;
        min-width: 250px !important;
        text-align: center !important;
    }

    .switchBtn {
        left: 0 !important;
        right: 0 !important;
    }

    .productListB {
        padding-top: 20px !important;
    }

    .red-txt {
        font-size: 0.9rem !important;
    }

    .txt-product {
        font-size: 1rem !important;
    }

    .product-grid4 {
        display: grid;
        padding-top: 10px;

        grid-template-columns: 1fr !important;
        grid-auto-rows: auto !important;
        grid-column-gap: 5px;
    }

    .imgTxtAlign {
        padding-left: 10% !important;
    }

    .largeTxt {
        padding-left: 10px !important;
        font-size: 1.5rem !important;
    }

    .textAlignLWidth {
        width: 90% !important;
    }

    .largeGedTxt35 {
        font-size: 1.2rem !important;
    }

    .addingImg, .largeGedTxt35 {
        display: flex !important;
        margin: 0 auto !important;
        text-align: center !important;
    }

    .modalGrid {
        grid-template-columns: 1fr 1fr !important;
    }

    .img-btn-padding {
        padding-top: 40px !important;
    }

    .days-phoneShown {
        padding-top: 20px !important;
    }

}

@media screen and ( max-width: 480px ){
    .air-txt-position {
        max-width: 90% !important;
    }

    .imy-padding {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    .flex-airCard-star {
        grid-template-columns: 1fr !important;
        grid-column-gap: 0 !important;
    }

    .productList-size1 {
        width: 60% !important;
    }

    .productList-size2 {
        width: 48% !important;
    }

    .airProducts-grid {
        max-width: 90% !important;
    }

    .air-card-bg-slider {
        margin: 10px 10px 15px !important;
    }

    .prev-next {
        width: 30px !important;
        height: 30px !important;
    }

    .padding-btn {
        margin-right: 5px !important;
        border-radius: 15px !important;
        width: 35px !important;
        height: 25px !important;
        font-size: 1.1rem !important;
    }

    .padding-NP {
        margin-right: 8px !important;
        margin-left: 8px !important;
        width: 40px !important;
        height: 40px !important;
    }

    .right-fixing {
        padding-left: 5px !important;
    }

    .productListB {
        margin-bottom: 20px !important;
    }

    .product-padding1 {
        padding: 20px 5px !important;
    }

    .product-grid2 {
        grid-template-columns: auto !important;
        grid-auto-rows: auto !important;
    }

    .product-grid3 {
        grid-template-rows: none !important;
        grid-template-columns: 1fr 1fr !important;
    }

    .totalWidth {
        max-width: 100% !important;
    }

    .smallCard {
        margin: 20px 5px 20px !important;
    }

    .imgTxtAlign {
        padding-left: 5% !important;
        padding-bottom: 10px !important;
    }

    .textAlignL .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .largeTxtTB {
        padding-top: 20px !important;
        padding-bottom: 0 !important;
    }

    .largeTxt {
        font-size: 1.2rem !important;
    }

    .img-txt {
        font-size: 1.1rem !important;
    }

    .textAlignLWidth {
        padding: 30px 15px !important;
        width: 100% !important;
    }

    .reason-shipping {
        padding-bottom: 15px !important;
        font-size: 1.4rem !important;
    }

    .btnWidth {
        width: 83% !important;
    }

    .modal-content-padding {
        min-width: 280px !important;
    }

    .product-grid5 {
        padding-top: 10px;
        grid-template-columns: 1fr !important;
        grid-auto-rows: auto !important;
    }

    .modal-content {
        width: 95% !important;
    }

    .viewBag-btn, .checkOut-btn {
        font-size: 1.1rem !important;
    }

    .btn-top {
        padding-top: 10px !important;
    }

    .modalFooter {
        max-width: 95% !important;
    }

    .modalGrid {
        grid-column-gap: 7px !important;
        min-width: 270px !important;
    }

    .modal-content {
        min-width: 290px !important;
    }
}

.air-cartStoreBg {
    width: 50px;
    height: 50px;
}

.bg-position {
    position: relative;
}

.airPods-bg {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.air-txt-position {
    position: absolute;
    top: 30%;
    padding-left: 60px;
    width: 490px;
}

.justify-air-txt {
    text-align: left;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

.small-txt,
.small-bold-txt,
.small-red-txt {
    font-size: 1rem;
}

.large-title {
    padding-bottom: 20px;
    font-size: 3.4rem;
}

.large-title,
.small-bold-txt,
.small-red-txt {
    font-weight: bold;
    line-height: 1.2;
}

.small-txt {
    color: gray;
}

.small-txt:hover {
    color: blue;
}

.small-red-txt {
    padding-left: 20px;
    color: #ED365C !important;
    cursor: pointer;
}

.airCase-bg {
    padding: 40px 20px 20px;
    background-color: #f2f2f2;
}

.paddingTB {
    margin: 40px auto;
    padding: 50px 20px 10px;
    border-radius: 15px;

    width: 100%;
    max-width: 82%;
    min-width: 200px;

    text-align: center;

    background-color: #ffffff;
    cursor: pointer;
    transition: all .25s linear;
    box-shadow: 0 10px 20px 0 rgba(71, 67, 237, 0.3);
}

.paddingTB:hover {
    box-shadow: 0 10px 20px 0 rgba(71, 67, 237, 0.8);
}

.imy-padding {
    margin-top: 60px;
    margin-bottom: 40px;
    padding: 20px 60px 20px 30px;
}

.imyCase-bg {
    height: auto;
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: right 5% center;
    background-image: url("../images/collections/imy-case.png");
}

.will-padding {
    padding-bottom: 30px;
}

.title-will-txt {
    align-items: center;

    width: 58%;
    line-height: 1.2;
    font-size: 1.2rem;
    text-align: left;
}

.will-txt {
    font-size: 1.6rem;
    font-weight: bold;
}

.cardFooterBg {
    background-color: #2E3A52;
}

.flex-airCard-star {
    display: grid;
    padding-top: 20px;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 10px;

    min-width: 290px;
}

.productList-size1 {
    width: 80%;
}

.productList-size2 {
    width: 64%;
}

.airProducts-grid {
    margin: 0 auto;
    width: 100%;
    max-width: 84%;
    min-width: 280px;
    text-align: center;
}

.air-card-bg-slider {
    margin: 20px 20px 32px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: all .25s linear;
    box-shadow: 0 10px 20px 0 rgba(71, 67, 237, 0.2);
}

.air-card-bg-slider:hover {
    box-shadow: 0 10px 20px 0 rgba(71, 67, 237, 0.7);
}

.air-cardB {
    margin-bottom: 30px;
}


.off245 {
    color: #000000;
}

.percentY {
    background-color: #fb9800;
}

.iconOrange {
    position: absolute;
    margin-top: 80px;
    margin-left: 15px;

    padding-top: 7px;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    font-size: 0.8rem;
    font-weight: bold;

    color: #ffffff;
    background-color: #ff402d;
    transform: rotate(-30deg);
}

.iconOrange:hover {
    box-shadow: -1px 1px 3px 2px rgba(71, 67, 45, 0.5);
}

/**
 * Select Option
 */
.productList-option {
    padding-left: 10px;
    border: solid 2px #ED365C;
    border-radius: 20px;
    width: 300px;
    height: 45px;
    font-size: 1.3rem;
    font-weight: 400;
    color: #000000;
    cursor: pointer;
}

/*.navbar-nav {*/
/*    flex-direction: row !important;*/
/*}*/

/*.bootstrap-select>.dropdown-toggle  {*/
/*    padding-left: 20px;*/
/*    border: solid 2px #ED365C;*/
/*    border-radius: 30px;*/
/*    width: 300px !important;*/
/*    height: 45px;*/
/*    font-size: 1.3rem;*/
/*    font-weight: 400;*/
/*    color: #ED365C;*/
/*    cursor: pointer;*/
/*}*/

/*.dropdown-menu .show {*/
/*    margin-top: 0 !important;*/
/*    font-size: 1.2rem;*/
/*    color: #000000;*/
/*}*/

/*.dropdown-menu {*/
/*    border-radius: 15px !important;*/
/*}*/

/*.dropdown-menu .show > li:hover {*/
/*    color: #ED365C;*/
/*}*/

/*.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {*/
/*    width: 300px !important;*/
/*}*/

.days-shipping,
.days-phoneShown {
    margin-left: 35px;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000000;
}

.days-phoneShown {
    display: none;
}

/**
 * switch
 */

.select-switch {
    padding: 40px 20px;
    text-align: left;
}

.switchBtn {
    position: relative;
    display: inline-block;
    top: 25px;
    left: 20px;
    right: 20px;
    width: 95px;
    height: 44px;
}

.switchBtn input {
    display:none;
}

.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ED365C;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 8px;
    color: #fff;
}
.slide:before {
    position: absolute;
    content: "";
    height: 36px;
    width: 36px;
    left: 53px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slide {
    background-color: #8CE196;
    padding-left: 40px;
}
input:focus + .slide {
    box-shadow: 0 0 1px #01aeed;
}
input:checked + .slide:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    left: -20px;
}

.slide.round {
    border-radius: 40px;
}
.slide.round:before {
    border-radius: 50%;
}


/**
 * Product List Button
 */
.prev-next {
    width: 45px;
    height: 45px;
}

.padding-btn {
    margin-right: 5px;
    border-radius: 30px;
    border: 2px solid #ED365C;
    width: 65px;
    height: 40px;

    font-size: 1.4rem;
    font-weight: bold;
    color: #ED365C;
    background-color: #ffffff;

    cursor: pointer;
}

.padding-btn:hover {
    color: #ffffff;
    background-color: #ED365C;
}

.padding-NP {
    margin-right: 20px;
    margin-left: 20px;
    width: 60px;
    height: 60px;

    background-color: #ffffff;

    display: flex;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.padding-NP:hover {
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 10px 20px 0 rgba(71, 67, 237, 0.6);
}

.right-fixing {
    padding-left: 10px;
}

.left-fixing {
    padding-right: 5px;
}

.productListB {
    margin-bottom: 40px;
}

/**
 *
 * Product Page
 */

.mayLikeBG {
    padding: 60px 0 0;
    background-color: #f2f2f2;
}

.product {
    margin: 0 auto;
    padding: 50px 20px 10px;
    border-radius: 15px;
    width: 100%;
    max-width: 82%;
    text-align: center;
    background-color: #ffffff;

    cursor: pointer;
    transition: all .25s linear;
    box-shadow: 0 10px 20px 0 rgba(71, 67, 237, 0.3);
}

.product:hover {
    box-shadow: 0 10px 20px 0 rgba(71, 67, 237, 0.8);
}

.lastViewed-BG {
    background-color: #FFFFFF;
}

.txt-product {
    padding: 0 20px 20px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.1;
}

.txt-product:hover {
    color: #4f7fff;
}

.red-txt {
    font-size: 1.1rem;
    color: #ED365C;
}

.gray-txt {
    font-size: 1rem;
    color: #4E4E4E;
}

.all-red {
    font-size: 1.4rem;
    font-weight: bold;
    color: #ED365C;
}

.title-Bold {
    padding-bottom: 20px;
    font-size: 2.8rem;
    font-weight: bold;
}

.you-may-txt {
    padding-top: 50px;
    padding-bottom: 0;
    font-size: 2.8rem;
    font-weight: bold;
}

.product-padding1 {
    margin: 0 auto;
    padding: 0 11.8% 20px 12.3%;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.btn-right {
    float: right;
}

.product-grid1 {
    display: grid;
    padding-top: 10px;

    grid-template-columns: 1.5fr 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 5px;
}

.product-grid2 {
    display: grid;

    grid-template-columns: 1fr 3.4fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 5px;
}

.product-grid3 {
    display: grid;

    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-row-gap: 5px;
}

.boxShawDow {
    transition: all .15s linear;
    box-shadow: 0 3px 5px 0 rgba(71, 67, 237, 0.2);
    cursor: pointer;
}

.boxShawDow:hover {
    box-shadow: 0 3px 5px 0 rgba(71, 67, 237, 0.4);
}

.iphone-size {
    padding: 50px;
    width: 100%;
    /*min-width: 280px;*/
}

.item-size {
    width: 100%;
    /*min-width: 100px;*/
}

.icon-share {
    margin-top: 25px;
    margin-right: 15px;
    border-radius: 7px;
    width: 40px;
    height: 30px;
    box-shadow: 1px 1px 1px 2px rgba(255, 220, 255, 0.5);
}

.icon-share:hover {
    background-color: #ED365C;
    box-shadow: 0 0 2px 2px rgba(255, 220, 255, 0.8);
}

.icon-chain {
    width: 15px;
}

.padding-bg {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
    max-width: 100%;
    text-align: center;

    font-size: 1.4rem;
    font-weight: bold;
    background-color: #f2f2f2;
}

.redBtn {
    margin: 0 auto;
    border-radius: 10px;
    width: 100%;
    max-width: 44%;
    height: 40px;
    text-align: center;
    font-size: 1.2rem;
    color: #FFFFFF;
    background-color: #ED365C;
    cursor: pointer;
}

.redBtn:hover {
    border: 2px solid #ED365C;
    color: #ED365C;
    background-color: #FFFFFF;
}

.totalWidth {
    margin: 0 auto;
    width: 100%;
    max-width: 70%;
    text-align: center;

}

.plusBg {
    width: 32px;
    height: 60px;
    background-color: #facbcc;
}

.plusColor {
    font-size: 2rem;
    font-weight: bold;
    color: #EC365C;
}

.smallCard {
    margin: 20px 20px 32px;

    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: all .25s linear;
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px 0 rgba(71, 67, 237, 0.2);
}

.smallCard:hover {
    box-shadow: 0 10px 20px 0 rgba(71, 67, 237, 0.8);
}

.icon-size1Card {
    position: relative;
    margin: 10px;
    padding: 0 10px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 0.7rem;
    font-weight: bold;

    color: #ffffff;
    background-color: #ED365C;
    transform: rotate(-30deg);
}

.icon-size1Card:hover {
    box-shadow: -1px 1px 3px 2px rgba(71, 67, 45, 0.5);
}

.icon-size3Card {
    margin-top: 6px;
    margin-right: 15px;
    border-radius: 7px;
    width: 50px;
    height: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    box-shadow: 1px 1px 1px 2px rgba(255, 220, 255, 0.5);
}

.icon-size3Card:hover {
    color: #ffffff;
    background-color: #ED365C;
    box-shadow: 0 0 2px 2px rgba(255, 220, 255, 0.8);
}

.heart-sizeCards {
    margin-left: 5px;
    width: 15px !important;
    height: 15px;
}

.txt-productCard {
    padding: 5px 5px 15px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.1;
}

.txt-productCard:hover {
    color: #4f7fff;
}

.product-option {
    padding-left: 15px;
    border: solid 2px #4E4E4E;
    border-radius: 20px;
    width: 100%;
    max-width: 250px;
    min-width: 200px;

    height: 30px;
    font-size: 1rem;
    font-weight: bold;
    color: #4E4E4E;
    cursor: pointer;
}

.addToCart {
    padding: 10px 40px;
    text-align: left;

    font-size: 1rem;
    color: #4E4E4E;
}

.font12 {
    font-size: 1rem;
}

.font18 {
    font-size: 1.15rem;
}

.font24 {
    padding-top: 15px;
    font-size: 1.5rem;
}

.font39 {
    padding-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    color: #000000;
    line-height: 1;
}

.field-TB {
    padding-top: 35px;
    padding-bottom: 20px;
}

.inputSetting:hover {
    color: #ED365C;
}

.product-input {
    padding-left: 10px;
    padding-right: 10px;
    border: solid 2px #4E4E4E;
    border-radius: 15px;
    width: 100%;
    max-width: 150px;
    min-width: 70px;

    height: 30px;
    font-size: 1rem;
    font-weight: bold;
    color: #4E4E4E;
    cursor: pointer;
}

.cart-float {
    display: flex;
    justify-content: space-between;
}

.redBtnAdd {
    margin: 15px auto 15px;
    border-radius: 13px;
    width: 100%;
    max-width: 100%;
    height: 40px;
    text-align: center;

    font-size: 1.4rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #ED365C;
    cursor: pointer;
}

.redBtnAdd:hover {
    border: 2px solid #ED365C;
    color: #ED365C;
    background-color: #FFFFFF;
}

.paddingR {
    padding-right: 10px;
}

.iconOrangeLarge {
    margin-right: 15px;
    padding-top: 17px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 0.8rem;
    font-weight: bold;

    color: #ffffff;
    background-color: #ff402d;
    transform: rotate(-30deg);
}

.iconOrangeLarge:hover {
    box-shadow: -1px 1px 3px 2px rgba(71, 67, 45, 0.5);
}

.verticalStick {
    border-left: 2px solid #4E4E4E;
    height: auto;
}

.btn-top {
    padding-top: 30px;
}

.icon-desc {
    margin: 20px auto;
    width: 100%;
    text-align: center;

    font-size: 1.2rem;
}

.largeTxtTB {
    padding-top: 40px;
    padding-bottom: 20px;
}

.largeTxt {
    font-size: 2.2rem;
    font-weight: bold;
    color: #4E4E4E;
}

.reviewsTxtR {
    margin-right: 5%;
}

.product-grid4 {
    display: grid;
    padding-top: 10px;

    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 5px;
}

.artworkImg {
    width: 100%;
}

.textAlignL {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
}

.img-txt {
    font-size: 1.25rem;
    font-weight: 400;
    color: #4E4E4E;
}

.imgTxtAlign {
    padding-bottom: 20px;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
}

.textAlignLWidth {
    padding-top: 20px;
    width: 50%;
    text-align: left;
}

.reason-shipping {
    padding-top: 20px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #4E4E4E;
}

.smallDesc,
.protection {
    padding-bottom: 15px;
    font-size: 1rem;
    line-height: 1;
}

.protection {
    width: 90%;
    font-weight: bold;
}

.number-left {
    padding-left: 30px;
}

.starSize {
    width: 15px;
    height: 15px;
}

.starMarkingWidth {
    width: 70%;
}

.left-star-width {
    display: flex;
    text-align: left;
    vertical-align: middle;
    align-items: center;
}

.starSize-review {
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

.percentage-stick-gray,
.percentage-stick-yellow {
    margin-right: 5px;
    border-radius: 5px;
    width: 100px;
    height: 16px;
    background-color: #eaeaea;
}

.percentage-stick-yellow {
    background-color: #FFC90D;
}

.percentage-stick-gray {
    background-color: #eaeaea;
}

.percentageWidth {
    width: 50px;
}

.review-option {
    margin-top: 10px;
    padding-left: 6px;
    border: solid 2px #4E4E4E;
    border-radius: 5px;
    width: 100%;
    max-width: 120px;
    min-width: 50px;

    height: 25px;
    font-size: 0.6rem;
    font-weight: bold;
    color: #4E4E4E;
    cursor: pointer;
}

.review-btn {
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 120px;
    min-width: 50px !important;

    height: 25px;
    font-size: 0.6rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #ED365C;
    cursor: pointer;
}

.review-btn:hover {
    border: 2px solid #ED365C;
    color: #ED365C;
    background-color: #ffffff;
}

.btnWidth {
    width: 63%;
}

.product-grid5 {
    display: grid;
    padding-top: 10px;

    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 10px;
}

.product-grid6 {
    display: grid;
    padding-top: 10px;

    grid-template-columns: 2fr 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 10px;
}

.product-grid7 {
    display: grid;
    padding-top: 10px;

    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 5px;
}

.img100 {
    width: 100%;
    min-width: 60px;
}
.btn-more {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 26.5%;
    padding: 4px 20px;
    border: 3px solid #ED365C;
    border-radius: 12px;
    width: 100px;
    font-size: 0.9rem;
    font-weight: bold;

    color: #ED365C;
    background-color: #FFFFFF;
    cursor: pointer;
}

.btn-more:hover {
    color: #FFFFFF;
    background-color: #ED365C;
}

.smallFont12 {
    padding-bottom: 10px;
    font-size: 0.8rem;
    color: #000000;
    text-align: left;
}

.mediumFont15 {
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #000000;

    text-align: left;
}

.tinyFont10 {
    font-size: 0.6rem;
}

.star-productDesc {
    padding: 10px 10px 10px 15px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0 ,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #f2f2f2;
    margin: 4% auto; /* 15% from the top and centered */
    /*padding: 10px 20px;*/
    padding-top: 10px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    padding-right: 20px;
    text-align: right;
    font-size: 4rem;
    font-weight: 300;
    line-height: 1;
    color: #757575;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalFooterBg {
    padding: 0 !important;
    background-color: #FFFFFF;
}

.modalFooter {
    margin: 0 auto;
    width: 100%;
    max-width: 80%;
}

.modal-content-padding {
    display: flex;
    margin-left: 8%;
    float: left;
    align-items: center;
}

.checkIcon-size {
    width: 70px;
    height: 70px;
}

.cardAddingTxt41 {
    padding-left: 40px;
    font-size: 2.6rem;
    font-weight: 400;
    color: #4E4E4E;
}

.modal-content-adding {
    display: flex;
    margin: 30px 8% 0;
    max-width: 100%;
    /*align-items: center;*/
}

.addingImg {
    max-width: 100%;
    min-width: 120px;
}

.largeGedTxt35, .numberRed {
    font-size: 2.2rem;
    font-weight: 400;
    color: #ED365C;
    line-height: 1;
}

.productWidth {
    width: 50%;
}

.txtGray {
    font-size: 1.55rem;
    color: #4E4E4E;
    float: right;
}

.key-rightM {
    margin-right: 5px;
}

.viewBag-btn,
.checkOut-btn {
    border-radius: 15px;
    width: 100%;
    max-width: 30%;

    height: 60px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.checkOut-btn,
.viewBag-btn:hover {
    color: #FFFFFF;
    background-color: #ED365C;
}

.btnPadding {
    margin-left: 20px;
}

.viewBag-btn,
.checkOut-btn:hover {
    border: 2px solid #ED365C;
    color: #ED365C;
    background-color: #FFFFFF;
}

.img-btn-padding {
    margin-right: 8%;
    padding-top: 124px;
    padding-bottom: 55px;
}

.modalGrid {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 20px;
    width: 100%;
    max-width: 100%;
    min-width: 290px;
}

.modalBtnUnderline1,
.modalBtnUnderline2 {
    text-decoration: none;
}

.modalBtnUnderline1 {
    color: #ED365C;
}

.modalBtnUnderline2 {
    color: #FFFFFF;
}

.modalBtnUnderline1:hover {
    text-decoration: none;
    color: #FFFFFF !important;
}

.modalBtnUnderline2:hover {
    text-decoration: none;
    color: #ED365C !important;
}
